@model EMS.Mvc.ViewModels.Registration.RepresentativeViewModel

<div>
    <h4>RepresentativeViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
